.sidebar {
  position: fixed;
  top: 100px;
  bottom: 70px;
  left: 0;
  width: 250px;
  background-color: #c1d4e0;
  color: #494949;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 999;
  box-sizing: border-box;
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 1px solid #2d6a6c;
  padding-bottom: 5px;
  color: #000000;
}

.sidebar-section ul {
  list-style: none;
  padding: 0;
}

.sidebar-section li {
  margin: 10px 0;
}

.sidebar-section a {
  text-decoration: none;
  color: #494949;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.sidebar-section a:hover {
  background-color: #2d6a6c;
  color: #1abc9c;
}

.sidebar-section a:active {
  background-color: #1abc9c;
  color: white;
}

/* Active Link Styling */
.sidebar-section a.active {
  background-color: #2d6a6c;
  color: white;
}
