@tailwind base;
@tailwind components;
@tailwind utilities;

/*  App.css */
html,
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('/loginbg.webp'); /* Path to the image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fix the background */
  background-color: black; /* Fallback color */
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--bg-color);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
