.footer {
  background-color: #c1ddc1;
  color: #5e5959;
  font-family: Seravek, sans-serif;
  padding: 15px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: 70px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1800px;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo .logo {
  height: 30px;
  margin-right: 10px;
}

.footer-left {
  font-size: 14px;
  text-align: left;
}

.footer-right {
  display: flex;
  gap: 20px;
  align-items: center;
}
