/* Container for the entire component */
.suppliers-container {
  font-family: Seravek, sans-serif;
  border-radius: 8px;
  background-color: #e6eef3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding-bottom: 20px;
  height: 100%; /* Allow height to adjust */
  position: relative; /* Needed for positioning the close button */
}

/* Header Section */
.suppliers-header {
  background-color: #1a5353;
  color: white;
  padding: 15px;
  text-align: left;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0;
  position: relative; /* To position the close button */
}

.suppliers-header h1 {
  margin: 3px;
  padding: 3px;
  font-size: 24px;
}

/* Close Button Styling */
.close-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%); /* This will vertically center the button */
  background: none;
  color: white;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.close-button:hover {
  color: #f1f1f1;
}

/* Title and Search Bar Section */
.suppliers-title-search {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suppliers-title-search h2 {
  font-size: 22px;
  font-weight: bold;
  color: #1a5353;
}

.search-container {
  position: relative;
}

.search-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 400px;
}

/* Table Container */
.suppliers-table-container {
  margin: 10px;
  padding: 10px;
}

.suppliers-table {
  width: 100%;
  border-collapse: collapse;
}

.suppliers-table th,
.suppliers-table td {
  border: 1px solid #bfb6b6;
  padding: 10px;
  text-align: center;
}

.suppliers-table th {
  background-color: #ffb24d;
  color: #5e5757;
  font-size: 14px;
}

.suppliers-table tbody tr {
  background-color: #c6dceb;
}

.suppliers-table tbody tr:hover {
  background-color: #dce4e9;
}

.edit-button {
  background-color: #4c85a6;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.edit-button:hover {
  background-color: #15375c;
}

/* Error Message Styling */
.error-message {
  color: #991919;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

/* Style for the sortable column */
.sortable {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

/* Optional: Add some styling for the sort arrows */
.sortable:hover {
  color: #1a5353;
}
