/* Overall Form Styling */
.add-supplier-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e6eef3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Seravek, sans-serif;
}

/* Header Styling */
.add-supplier-form h2 {
  text-align: center;
  background-color: #1a5353;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  margin: -20px -20px 20px -20px;
}

/* Form Group Styling */
.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 16px;
  color: #333;
  flex: 1;
  margin-right: 10px;
}

.form-group input {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-group input[type="number"] {
  border: 1px solid red;
}

.form-group input[type="date"] {
  padding: 8px;
  font-size: 14px;
  color: #333;
}

/* Button Container Styling */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* Button Styling */
.add-supplier-form button {
  padding: 10px 20px;
  background-color: #2a4d69;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-supplier-form button:hover {
  background-color: #00796b;
}

/* Error and Success Messages */
.error-message {
  color: #991919;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.success-message {
  color: #3c5f3c;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
